*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EEE8AA;
	background-size: cover;
}

/*-------header-------*/

nav {
	width: 100%;
	height:60px;
	background-color: #fff;
}

nav p {
	font-family: 'Imbue', serif;
	color: #222;
	font-size: 35px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
} 

nav ul {
	float: left;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a {
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #222;
	font-size: 20px;
	padding: 14px 14px;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}

nav ul li ul li a {
	padding: 8px 14px;
}

nav ul li ul li a:hover {
	background-color: #f3f3f3;
}

.row {
	max-width: 1300px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}

.col-2 {
	flex-basis: 100%;
	min-width: 300px;
}

.col-2 h1 {
	font-size: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 60px;
	margin: 25px 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.col-2 p {
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.col-2 img{
	flex-basis: 50%;
	min-width: 250px;
	margin: 40px 20px;
	margin-right: 100px;
}

.header {
	background-image: url(image/1.jpg);
	background-size: cover;
}


.q {
	text-align: center;
	color: white;
	font-size: 70px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.w {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

/*------featured categories-----*/

.categories {
	margin: 70px 0;
}

.product-h2 {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
}

.product-h2::after {
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: transform 0.5s;
}

.col-3 p {
	font-size: 14px;
}

.col-3:hover {
	transform: translateY(-5px);
}

.col-3 img {
	width: 100%;
}

.small-container {
	max-width: 1080px;
	margin: auto;
}

.small-container h4 {
	font-size: 25px;
	text-align: left;
	font-weight: normal;
}

.ranting .fa {
	color: #ff523b;
}

.btn {
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	text-decoration: none;
	margin: 30px 0;
	border-radius: 30px;
}

/*--------product-----*/

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

/*------- cart items -----*/

.cart-page {
	margin: 80px auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding: 5px;
	color: #fff;
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	font-weight: normal;
	font-size: 20px;
}

td {
	padding: 10px 5px;
	font-size: 20px;
}

td input {
	width: 40px;
	height: 30px;
	padding: 5px; 
	font-size: 20px;
}

td a {
	color: linear-gradient(45deg, #87adfe, #ff77cd);
	font-size: 18px;
	text-decoration: none;
}

td img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.total-price {
	display: flex;
	justify-content: flex-end;
}

.total-price table {
	border-top: 3px solid #ff77cd;
	width: 100%;
	max-width: 550px;
}

td:last-child {
	text-align: right;
}

th:last-child {
	text-align: right;
}

.huhu {
	margin: 10px 300px 10px 300px;
}

.hehe p{
	text-align: center;
}

.hoho {
	 margin: 10px 160px 10px 170px;
}

.haha img {
	width: 65%; 
	height: 330px;
}


/*--------------footer-----------*/

.footer {
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color: #8a8a8a;
}

.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1 {
	flex-basis: 30%;
}

.footer-col-2 {
	flex: 1;
	text-align: center;
}

.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}

.footer-ul {
	list-style-type: none;
}

.app-logo {
	margin-top: 20px;
}

.app-logo img {
	
}